﻿@model IEnumerable<ContactsWeb.Models.Contact>

@{
    ViewBag.Title = "My Contacts";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class= "btn btn-default" })
</p>
@{ 
    string modelFirstName;
    string modelLastName;
    
}

<table id="your_contacts" class="table dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PhonePrimary)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneSecondary)</th>
            <th>@Html.DisplayNameFor(model => model.Birthday)</th>
            <th>@Html.DisplayNameFor(model => model.StreetAddress1)</th>
            <th>@Html.DisplayNameFor(model => model.StreetAddress2)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.State)</th>
            <th>@Html.DisplayNameFor(model => model.Zip)</th>
            <th>Edit</th>
            <th>Delete</th>
            <th></th>
            
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            modelFirstName = item.FirstName+"  ";
            modelLastName = item.LastName;
            
            
            <tr>
                <td>@Html.ActionLink(modelFirstName, "Details", new {id = item.Id }, new { @class = "btn" }) </td>
                <td>@Html.ActionLink(modelLastName, "Details", new {id =item.Id }, new { @class = "btn" })</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.PhonePrimary)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneSecondary)</td>
                <td>@Html.DisplayFor(modelItem => item.Birthday)</td>
                <td>@Html.DisplayFor(modelItem => item.StreetAddress1)</td>
                <td>@Html.DisplayFor(modelItem => item.StreetAddress2)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>@Html.DisplayFor(modelItem => item.State)</td>
                <td>@Html.DisplayFor(modelItem => item.Zip)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn" })
                    
                </td>
                <td>
                   @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn" })
                </td>
                <td>@Html.HiddenFor(modelItem => item.UserId)</td>
            </tr>
        }
    </tbody>
</table>

@*                    @Html.ActionLink("Details  ", "Details", new { id = item.Id }, new {@class = "btn btn-link smallbtn" }) *@

@section Scripts
{
<script type="text/javascript">

    $(function () {
        $("#your_contacts").dataTable({
            "pagingType": "full_numbers"
            , "scrollY": "600px"
            , "columnDefs": [
                  { "width": "50px", "targets": 0 }
                , { "width": "50px", "targets": 1 }
                , { "width": "50px", "targets": 2 }
                , { "width": "50px", "targets": 3 }
                , { "width": "50px", "targets": 4 }
                , { "width": "50px", "targets": 5 }
                , { "width": "50px", "targets": 6 }
                , { "width": "50px", "targets": 7 }
                , { "width": "50px", "targets": 8 }
                , { "width": "50px", "targets": 9 }
                , { "width": "50px", "targets": 10 }
                , { "width": "50px", "targets": 11 }
                , { "width": "50px", "targets": 12 }
                , { "width": "50px", "targets": 13 }
               
            ]
            , "order": [[1, "desc"]]
            , "dom": 'Rlfrtip'
            , "stateSave": "true"
            , "lengthMenu": [[-1, 10, 20, 50, 100], ["All", 10, 20, 50, 100]]
        });
    });

</script>
    
    
    }
