﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    <br />
    <br />
    <abbr title="Phone"><strong>Phone:</strong></abbr>
    850.459.2307
</address>

<address>
    <strong>Email</strong>   <a href="mailto:ecogreco@yahoo.com">ecogreco@yahoo.com</a><br />
</address>