﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to E-Contacts</h1>
    <p class="lead">A place where you can keep your personal and/or business contacts, and have access to them where ever you go</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4 middle" >
        @{
            if (Request.IsAuthenticated)
            {
                <div class="col-md-4">
                    <h2>Welcome to Your Online Contact List</h2>
                    <p>View, Add and edit your contacts</p>
                    <div class="bottom">
                        @Html.ActionLink("My Contacts", "Index", "Contacts", null, new {@class = "btn btn-default" })
                    </div>
                   
                </div>
                
                <div class="col-md-4">
                    <h2>Add a new contact</h2>
                    <div class="bottom">
                        @Html.ActionLink("New Contact", "Create", "Contacts", null, new {@class= "btn btn-default" })
                    </div>
                    
                </div>

            }

            else
            {
                <div class="col-md-4">
                    <h2>Getting started</h2>
                    <p>
                        Register a new E-Contacts profile and store your list of contact phone numbers and emails.
                    </p>
                    @Html.ActionLink("Create Account", "Register", "Account", null, new {@class = "btn btn-default" })
                </div>

                <div>

                </div>


                <div class="col-md-4">
                    <h2>Already a member?</h2>
                    <p>Login with your email and password</p>
                    @Html.ActionLink("Log In", "Login", "Account", null, new {@class= "btn btn-default" })
                    
                </div>

               
                        
            }


        }

    </div>

    </div>

                    @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> *@


               


        @*
             <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>

        *@

   
