﻿body {
    padding-top: 50px;
}

.defaultText{
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
}

.padRight8px{
    padding-right: 8px;
}

.middle{
    
    margin: auto;
}

footer{
    margin-top:auto;
    margin-bottom:auto;
    bottom: 70px;
}

.bottom{
    vertical-align:bottom;
    bottom:auto;
    
}

.smallbtn{
    margin:0, 10, 10, 10;
    padding:14px;
    width: 35px;
}

td{
    text-align:left;
}

.NameBtn{
    width:55px;
    font-size: small;
    margin: 10px;
    padding: 0px;
    
}






